*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#columns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.OKS{
    width: 50vw;
}

.ok{
    background: #9ba4f888;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(99vh / 21);
    padding: 5px;
}
h2{
    display: flex;
    align-items: center;
}
.ok-content{
    width: 600px;
    height: 40px;
    min-height: 100%;
    margin: 5px;
    border: 2px solid #4c00ff;
    display: flex;
}
#names{
    width: 600px;
    height: 40px;
    min-height: 100%;
    margin: 5px;
    border: 2px solid #4c00ff;
    display: flex;
}

.list{
    background: #fd0000;
    height: 30px;
    width: 75px;
    margin: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
#reserve_ziek{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99vh;
}

#reserve, #ziek, #zoek{
    background: #9ba4f888;
    width: 250px;
    height: 50%;
    border: 2px solid #4c00ff;
}

#reserve{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#ziek{
    margin-left: 10px;
    margin-right: 10px;
}
.extra{
    width: 75%;
    height: 75%;
    margin: 20px;
    border: 2px solid #4c00ff;
    display: flex;
    flex-direction: column;
}

.extra .list{
    display: flex;
    align-items: center;
}

#reserve h1, #ziek h1, #zoek h1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
#zoek{
    height: 49vh;
    margin-bottom: 50vh;
}

#zoek_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#zoek-input {
    margin: 10px;
    margin-top: 0px;
    width: 90%;
    height: 40px;
    border: 2px solid #4c00ff;
    font-size: large;
}
#zoek-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}
#editButton, 
#saveButton{
    width: 100px;
    height: 50px;
    font-size: 20px;
}