*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h2{
    display: flex;
    align-items: center;
}
#zoek{
    height: 10vh;
    width: 33vw;
}
#zoek_flex{
    display: flex;
}
#zoek_flex h2{
    margin: 10px;
}
#zoek-input {
    margin: 10px;
    width: 80%;
    height: 40px;
    border: 2px solid #4c00ff;
    font-size: large;
}
#zoek_content{
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: center;
}

#zoek-result{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}
#Chirugie{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 33vw;
    border: #fd0000;
}
#OKS{
    width: 80%;
    height: 90vh;
}

.ok{
    background: #9ba4f888;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(80vh / 24);
    padding: 5px;
}

.ok-content{
    width: 65%;
    height: 40px;
    min-height: 100%;
    margin: 5px;
    border: 2px solid #4c00ff;
    display: flex;
}
#names{
    width: 600px;
    height: 40px;
    min-height: 100%;
    margin: 5px;
    border: 2px solid #4c00ff;
    display: flex;
}

.list{
    background: #fd0000;
    height: 40px;
    width: 100px;
    margin: 5px;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
#reserve_ziek{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
    width: 20%;
}

#reserve, #ziek, #zoek{
    background: #9ba4f888;
    height: 50%;
    border: 2px solid #4c00ff;
}

#reserve{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#ziek{
    margin-left: 10px;
    margin-right: 10px;
}
.extra{
    height: 75%;
    margin: 20px;
    border: 2px solid #4c00ff;
    display: flex;
    flex-direction: column;
}

.extra .list{
    display: flex;
    align-items: center;
}

#reserve h1, #ziek h1, #zoek h1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.hidden{
    display: none;
}
#editButton, 
#saveButton{
    width: 100px;
    height: 50px;
    font-size: 20px;
}