body{
    font-family: Arial, sans-serif;
}
#Chirugie{
    width: 33vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
#Search{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: #86d2ec;
    display: flex;
}
#Search p{
    margin: auto;
    font-size: 3em;
}
#Search input{
    margin: auto;
    font-size: 3em;
    border-radius: 10px;
}

#OKS{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 10;
    
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #86d2ec
    ;
}
.ok{
    display: flex;
    width: 100%;
    height: calc(100% / 24);
}

#OKS p{
    width: calc(60% / 4);
    font-size: 1.75em;
    margin: auto;
}

.ok_content{
    width: 60%;
    height: 80%;
    margin: 5px;
    border: 3px solid black;
    background-color: #e1ecf1;
    display: flex;
    border-radius: 10px;
}

.person{
    width: fit-content;
    padding: 0 10px;
    background-color: #e1ecf1;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid black;
    margin: 5px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Reserve{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;

    background-color: #86d2ec;
}
#Reserve p{
    margin: auto;
    width: 90%;
    height: 10%;
    font-size: 3em;
    text-align: center;
}

#Reserve_container{
    background-color: #e1ecf1;
    margin: auto;
    width: 90%;
    height: 85%;
    border-radius: 10px;
    border: 3px solid black;
}

#Ziek{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;

    background-color: #86d2ec;
}

#Ziek p{
    margin: auto;
    width: 90%;
    height: 10%;
    font-size: 3em;
    text-align: center;
}

#Ziek_container{
    background-color: #e1ecf1;
    margin: auto;
    width: 90%;
    height: 85%;
    border-radius: 10px;
    border: 3px solid black;
}

#Ziek_container .person, #Reserve_container .person{
    background-color: #e1ecf1;
    /*alling div to the centre*/
    margin: 10px auto;
    font-size: 2em;

}

.CHI, .CHI-Vaat, .RTH, .URO, .CHI-sed {
    background-color: rgb(252, 60, 60);
}

.KNO, .NCH, .GYN{
    background-color: rgb(46, 187, 46);
}

.CTC{
    background-color: rgb(46, 128, 187);
}

.PLA, .ORT, .KAA, .TRAU {
    background-color: rgb(244, 255, 38);

}
/*if .CHI and .db make the background purple*/
.PLA.db, .CHI.db, .URO.db, .URO.sed, .GON.db, .GYN.db, .KNO.db, .ORT.db, .KAA.db, .TRAU.db, .OOG, .OOG.lokaal, .DER.db, .PYN.lokaal, .PYN.sed, .PYN{
    background-color: rgb(151, 36, 151);
}
/*Gon need to be a gradient from rgb(252,60,60) to rgb(46,187,46)*/
.GON{
    background: linear-gradient(90deg, rgb(252,60,60), rgb(46,187,46));
}

#Edit, #Save{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
    width: 200px;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #86d2ec;
    font-size: 2em;
}

select{
    font-size: 1.5em;
    margin: auto;
}